logs
project/project
project/target
project/activator-sbt*
target
activator
activator.bat
activator-launch*.jar
activator-sbt-echo-akka-shim.sbt
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
